The representative samples for each cluster (called 'medoids') can be obtained using the ``AAclust().comp_cmedoids()`` method:

In [3]:
import aaanalysis as aa
import pandas as pd
# Create example dataset comprising 100 scales
df_scales = aa.load_scales().T.sample(100).T
X = df_scales.T
# Fit AAclust model and obtain clustering centers for 5 clusters
aac = aa.AAclust()
labels = aac.fit(X, n_clusters=5).labels_
centers, labels_centers = aac.comp_medoids(X=X, labels=labels)
# Create DataFrame with cluster centers
columns = [f"Cluster {i}" for i in labels_centers]
df_medoids = pd.DataFrame(centers.T, columns=columns, index=df_scales.index)
aa.display_df(df_medoids)