To demonstrate the ``ShapExplainer.add_feat_impact()`` method, we obtain the DOM_GSEC example dataset and its respective feature set (see [Breimann24c]_):

In [13]:
import shap
import aaanalysis as aa
aa.options["verbose"] = False # Disable verbosity

df_seq = aa.load_dataset(name="DOM_GSEC", n=3)
labels = df_seq["label"].to_list()
df_feat = aa.load_features(name="DOM_GSEC").head(5)

# Create feature matrix
sf = aa.SequenceFeature()
df_parts = sf.get_df_parts(df_seq=df_seq)
X = sf.feature_matrix(features=df_feat["feature"], df_parts=df_parts)

aa.display_df(df_seq)

We can now create a ``ShapExplainer`` object and fit it to create the ``shap_values``, which are saved internally:

In [14]:
se = aa.ShapExplainer()
se.fit(X, labels=labels)

shap_values = se.shap_values

# Print SHAP values and expected value
print("SHAP values explain the feature impact for 3 negative and 3 positive samples")
print(shap_values.round(2))

SHAP values explain the feature impact for 3 negative and 3 positive samples
[[-0.1  -0.1  -0.08 -0.09 -0.07]
 [-0.12 -0.12 -0.08 -0.09 -0.07]
 [-0.14 -0.14 -0.04 -0.09 -0.02]
 [ 0.13  0.13  0.04  0.08  0.05]
 [ 0.13  0.12  0.08  0.08  0.08]
 [ 0.13  0.12  0.08  0.08  0.07]]

We can now include the feature impact (i.e., SHAP values normalized such that their absolute values sum up to 100%) by providing ``df_feat`` to the ``ShapExplainer.add_feat_impact`` method:

In [15]:
# Add feature impact of each sample
df_feat = se.add_feat_impact(df_feat=df_feat)

print("Include feature impact for Protein0 to Protein5")
aa.display_df(df_feat)

Include feature impact for Protein0 to Protein5

To include the impact of a specific sample, use the ``pos`` parameter indicating the position index of the sample within the ``shap_values`` attribute (the same as in the ``labels`` provided to the ``ShapExplainer.fit()`` method). You need to set ``drop=True`` to override the feature impact columns:

In [16]:
df_feat = se.add_feat_impact(df_feat=df_feat, drop=True, pos=0)

print("Include feature impact for first Protein")
aa.display_df(df_feat, n_cols=-3)

Include feature impact for first Protein

You can provide a specific ``name`` for the corresponding sample:

In [17]:
df_feat = se.add_feat_impact(df_feat=df_feat, drop=True, pos=0, name="Selected_sample")

print("Single sample")
print(df_feat)
aa.display_df(df_feat, n_cols=-3)

Single sample
                               feature      category        subcategory  \
0  TMD_C_JMD_C-Segment(3,4)-KLEP840101        Energy             Charge
1  TMD_C_JMD_C-Segment(3,4)-FINA910104  Conformation    α-helix (C-cap)
2  TMD_C_JMD_C-Segment(6,9)-LEVM760105         Shape  Side chain length
3  TMD_C_JMD_C-Segment(3,4)-HUTJ700102        Energy            Entropy
4  TMD_C_JMD_C-Segment(6,9)-RADA880106    ASA/Volume             Volume

                      scale_name  \
0                         Charge
1            α-helix termination
2              Side chain length
3                        Entropy
4  Accessible surface area (ASA)

                                   scale_description  abs_auc  abs_mean_dif  \
0                    Net charge (Klein et al., 1984)    0.244      0.103666
1  Helix termination parameter at posision j+1 (F...    0.243      0.085064
2    Radius of gyration of side chain (Levitt, 1976)    0.233      0.137044
3                  Absolute entropy (Hutchens, 1970)    0.229      0.098224
4  Accessible surface area (Radzicka-Wolfenden, 1...    0.223      0.095071

   mean_dif  std_test   std_ref  p_val_mann_whitney  p_val_fdr_bh  \
0  0.103666  0.106692  0.110506        0.000000e+00  0.000000e+00
1  0.085064  0.098774  0.096946        1.000000e-10  2.194333e-07
2  0.137044  0.161683  0.176964        1.100000e-09  9.051625e-07
3  0.098224  0.106865  0.124608        1.800000e-09  9.874500e-07
4  0.095071  0.114758  0.132829        5.100000e-09  1.767016e-06

        positions  feat_importance  feat_importance_std  \
0  31,32,33,34,35           0.9704             1.438918
1  31,32,33,34,35           0.0000             0.000000
2           32,33           1.5548             2.109848
3  31,32,33,34,35           3.1112             3.109955
4           32,33           0.0000             0.000000

   feat_impact_Selected_sample
0                       -23.30
1                       -22.03
2                       -18.86
3                       -20.71
4                       -15.10

**Computing feature impact**

Three different scenarios are possible:

a) **Single sample**: Compute the feature impact for one sample (shown above).
b) **Multiple samples**: Computes the feature impact for multiple sample (all by default).
c) **Group of samples**: Compute the average feature impact and standard deviation for a group.

To focus on specific samples, specify their indices in ``pos``. If ``name`` is provided, its length should match ``pos``.

In [18]:
df_feat = se.add_feat_impact(df_feat=df_feat, drop=True, pos=[0, 1], name=["Sample 1", "Sample 2"])

print("Multiple samples")
aa.display_df(df_feat, n_cols=-8)

Multiple samples

To calculate the group average, set ``group_average=True`` and specify the sample indices in `pos`. Provide a ``name`` for the group, or 'Group' will be used by default:

In [19]:
df_feat = se.add_feat_impact(df_feat=df_feat, drop=True, pos=[0, 1], group_average=True)

print("Group of samples")
aa.display_df(df_feat, n_cols=-8)

Group of samples

Setting ``shap_feat_importance=True``, will compute the SHAP value-based feature importance:

In [20]:
df_feat = se.add_feat_impact(df_feat=df_feat, drop=True, shap_feat_importance=True)

print("SHAP value-based feature importance")
aa.display_df(df_feat, n_cols=-8)

SHAP value-based feature importance